<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
        <meta name="description" content="Controle Financeiro" />                
        <title>Controle Financeiro</title>
        <link rel="stylesheet" type="text/css" href="/style/style.css" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="title">Depois da vírgula</div>
        
        <div class="login">
            Bem-vindo {{ user.nickname }}. <a href="{{ logout_url }}">Sair</a>
        </div>

        <ul class="menu">
          <li><a href="/contas/">contas</a></li>
          <li><a href="/contas/">contas</a></li>
          <li><a href="/categorias/custo/">categorias custo</a></li>
          <li><a href="/categorias/receita/">categorias receita</a></li>
          <li><a href="/despesas/">despesas</a></li>
          <li><a href="/receitas/">receitas</a></li>
        </ul>
        
        <div class="contents">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>